/*start about us*/
/*start breadcumb*/
.breadcrumb-holder{
    background-color: #f5f5f5;
    
    
}
.breadcrumb{
    padding: 10px 0;
    margin: 0;
    
}

/*end breadcumb*/
/*start about us*/
.about-us{
    padding: 70px 0;
    
}
.about-us h1{
    font-family:arial,tahoma;
    letter-spacing: -1;
    font-size: 62px;

}
.about-us hr{
   width: 70% 
}
.about-feat{
    padding:0 0 70px ;
}

.about-ceo {
    background-color: #eee;
    padding-top: 40px;
}
.about-ceo .lead{
    line-height: 1.5;
}
/*end about us*/


/*end about us*/

/*start faq */
.faq {
    padding:40px 0; 
}
.faq h1 {
    font-family:arial-tahoma;
    font-size: 65px;
    
}
.faq h1 hr{ width: 70%}

.faq-questions .panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: #444;
}

.faq-questions .panel-heading a.collapsed:after {
    
    content: "\e080";
    color: #999;
}
/*start faq */